mixin nodo-historia(fecha, titulo, texto, linkExtra, linkText)
    .nodo-historia
        .nodo-circulo
            i.fa.fa-circle-o
        .nodo-titulo
            p 
                span.fecha= fecha
                span= titulo
        .nodo-texto
            p=texto
                //- span 1
                //- if linkBool
            a(href=linkExtra)=linkText

mixin tabButton(texto, ref, icono)
    li
        a(src=ref, href="#"+ref title=texto)
            i(tab=ref, class="fa "+icono)